body {
    background-color:white;
    }
.grand_centre {
   color: black;
   font-family: 'Cabin', sans-serif;
   font-size: 200%;
   text-align:center;
   }

.grand_pas_centre {
   color: black;
   font-family: 'Cabin', sans-serif;
   font-size: 200%;
   text-align:left;
   }

.moyen_centre {
   color: black;
   font-family: 'Cabin', sans-serif;
   font-size: 120%;
   text-align: center;
   }

.moyen_pas_centre {
   color: black;
   font-family: 'Cabin', sans-serif;
   font-size: 120%;
   text-align: justify;
   }

.moyen_pas_centre2 {
color: black;
font-family: 'Cabin', sans-serif;
font-size: 150%;
text-align: left;
}

.moyen_centre_grand {
color: black;
font-family: 'Cabin', sans-serif;
font-size: 150%;
text-align: center;
}

.normal {
   color: black;
   font-family: 'Cabin', sans-serif;
   font-size: 100%;
   text-align:left;
   }
.centre {
   color: black;
   font-family: 'Cabin', sans-serif;
   font-size: 100%;
   text-align:center;
   }
.image_centre {
   text-align: center;
   } 
.image_centre2 {
   width: 80%;
   text-align: center;
   } 

.mot:hover + .petit {
    display:inline;
}

.petit {
   display: none;
   }

#scrollUp
{
position: fixed;
bottom : 10px;
right: -100px;
opacity: 0.5;
}

.row-top-trait{
   background-color: #7aa3c5; 
   padding-top: 90px; 
   border-top: 20px solid #4e6b9a; 
}

.row-no-trait{
   background-color: #7aa3c5; 
   padding-top: 90px; 
}
.row{
   margin: 0;
   width: 100%;
}

.colonne{
   padding: 0;
}
.blanc{
   background-color: #e9eef8;
}
.bleu{
   background-color: #7aa3c5;
}
.right-trait{
   border-right: 20px solid #4e6b9a;
   display: flex;
   align-items: center;
   justify-content: center;
}


.top-right-trait{
   border-top: 20px solid #4e6b9a;
   border-right: 20px solid #4e6b9a;
   border-top-right-radius: 200px;
   padding-right: 10px;
   min-height: 200px;
}

.bottom-left-trait{
   border-bottom: 20px solid #4e6b9a;
   border-left: 20px solid #4e6b9a;
   border-bottom-left-radius: 200px;
   padding-left: 10px;
   min-height: 200px;
}

.bottom-right-trait{
   border-bottom: 20px solid #4e6b9a;
   border-right: 20px solid #4e6b9a;
   border-bottom-right-radius: 200px;
   padding-right: 10px;
   min-height: 200px;
}

.top-right-trait{
   border-top: 20px solid #4e6b9a;
   border-right: 20px solid #4e6b9a;
   border-top-right-radius: 200px;
   padding-right: 10px;
   min-height: 200px;

}

.top-left-trait{
   border-top: 20px solid #4e6b9a;
   border-left: 20px solid #4e6b9a;
   border-top-left-radius: 200px;
   padding-left: 10px;
   min-height: 200px;
}

.left-trait{
   border-left: 20px solid #4e6b9a;
   display: flex;
   align-items: center;
   justify-content: center;
}

.top-trait{
   border-top: 20px solid #4e6b9a;
}

.bottom-trait{
   border-bottom: 20px solid #4e6b9a;
   min-height: 200px;
}
.min-height-200{
   min-height: 180px;
}

.horrizontal-center{
   display: flex;
   justify-content: center;
}

.inversed{
   display: flex;
   flex-direction: row-reverse;
}

.vertical-centered{
   display: flex;
   align-items: center;
   height: 100%;
}