body {
    background-color:white;
    }
.grand_centre {
   color: black;
   font-family: 'Cabin', sans-serif;
   font-size: 200%;
   text-align:center;
   }

.grand_pas_centre {
   color: black;
   font-family: 'Cabin', sans-serif;
   font-size: 200%;
   text-align:left;
   }

.moyen_centre {
   color: black;
   font-family: 'Cabin', sans-serif;
   font-size: 120%;
   text-align: center;
   }

.moyen_pas_centre {
   color: black;
   font-family: 'Helvetica', sans-serif;
   font-size: 100%;
   text-align: justify;
   }

.moyen_centre_grand {
color: black;
font-family: 'Cabin', sans-serif;
font-size: 150%;
text-align: center;
}
.normal {
   color: black;
   font-family: 'Cabin', sans-serif;
   font-size: 100%;
   text-align:left;
   }
.centre {
   color: black;
   font-family: 'Cabin', sans-serif;
   font-size: 100%;
   text-align:center;
   }
.image_centre {
   text-align: center;
   } 
.image_centre2 {
   width=80%
   text-align: center;
   } 

.mot:hover + .petit {
    display:inline;
}




.petit {
   display: none;
   }

.row {
    margin: 0;
    }