body {
    background-color:darkgrey;
    }
.grand_centre {
   color: blue;
   font-family: verdana;
   font-size: 200%;
   text-align: center;
   }
.normal {
   color: black;
   font-family: verdana;
   font-size: 100%;
   text-align:left;
   }
.image_centre {
   text-align:center;
   } 
