body {
    background-color:darkgrey;
    }
.grand_centre {
   color: black;
   font-family: titilium;
   font-size: 200%;
   text-align:center;
   }
.moyen_centre {
   color: black;
   font-family: titilium;
   font-size: 100%;
   text-align: center;
   }
.normal {
   color: black;
   font-family: titilium;
   font-size: 100%;
   text-align:left;
   }
.centre {
   color: black;
   font-family: titilium;
   font-size: 100%;
   text-align:center;
   }
.image_centre {
   text-align: center;
   } 
.image_centre2 {
   width=80%
   text-align: center;
   } 
.mot:hover ~ .petit {
    display:inline;
}
img {
   display:none;
}
